---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: hairyhenderson/gomplate
    tag: alpine
inputs:
  - name: terraform-output
  # - This must be an initialized git repository.
  # - Note that any changes present in this input
  #   will be committed along with the file copied in
  #   by this task.
  - name: config
  # - This is the input folder containing the file to be committed.
  #   Typically, this will from some other task
  #   with an output that needs to be persisted.
outputs:
  - name: interpolated-config

params:
  ENV_NAME:
  PIVNET_API_TOKEN:
  GCP_AUTH_JSON:
  OM_USERNAME:
  OM_PASSWORD:
  OM_DECRYPTION_PASSPHRASE:

run:
  path: /bin/sh
  args:
    - -c
    - |
        /bin/gomplate -f config/$ENV_NAME/config/auth.yml -d data=file://$(pwd)/terraform-output/metadata?type=application/json -o interpolated-config/$ENV_NAME/config/auth.yml --verbose
        /bin/gomplate -i $'opsman_username: {{env.Getenv "OM_USERNAME" }}\nopsman_password: {{env.Getenv "OM_PASSWORD" }}\nopsman_decryption_passphrase: {{env.Getenv "OM_DECRYPTION_PASSPHRASE" }}' -o interpolated-config/$ENV_NAME/config/auth-vars.yml --verbose
        /bin/gomplate -f config/$ENV_NAME/config/director.yml -d data=file://$(pwd)/terraform-output/metadata?type=application/json -o interpolated-config/$ENV_NAME/config/director.yml --verbose
        /bin/gomplate -f config/$ENV_NAME/config/opsman.yml -d data=file://$(pwd)/terraform-output/metadata?type=application/json -o interpolated-config/$ENV_NAME/config/opsman.yml --verbose
        /bin/gomplate -i $'gcp_auth_json: |\n{{env.Getenv "GCP_AUTH_JSON" | strings.Indent 2 }}' -o interpolated-config/$ENV_NAME/config/opsman-vars.yml --verbose
        /bin/gomplate -i 'pivnet-api-token: {{env.Getenv "PIVNET_API_TOKEN" }}' -o interpolated-config/$ENV_NAME/download-product-configs/vars.yml --verbose
        /bin/gomplate -f config/$ENV_NAME/env/env.yml -d data=file://$(pwd)/terraform-output/metadata?type=application/json -o interpolated-config/$ENV_NAME/env/env.yml --verbose
